<!DOCTYPE html>
<meta charset="utf-8">
<style>

#header {
    background-color:green;
    color:white;
    text-align:center;
    padding:5px;
}

path {
  stroke-linejoin: round;
  stroke-linecap: round;
}

.land {
  fill: #bbb;
}

.land :hover {
  fill: purple;
}

/* 
.land .neighbor {
  fill: orange;
}
 */

.border {
  pointer-events: none;
  fill: none;
  stroke: #fff;
}

.border--district {
  stroke-width: .5px;
}

.border--state {
  stroke-width: 1.5px;
}

// Styles for tool tips.
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

</style>

<head>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>

function htmlDecode(input){
  var e = document.createElement('div');
  e.innerHTML = input;
  return e.childNodes[0].nodeValue;
}

var issueObject;

$(document).ready (function() {
	// Display the interests of the currently logged-in user.
{% if user.is_authenticated %}
	show_my_interests();
{% endif %}

	// Display all of the interests in the system.
	myString = htmlDecode("{{ issue_list }}");
	issueObject = $.parseJSON(myString);
	
	selectElement = document.getElementById("issue_select")
	
	// Add an option for each issue to the select object.
	for (i = 0; i < issueObject.length; ++i) {
		newOption = document.createElement('option');
		newOption.innerHTML = issueObject[i].name;
		newOption.value = issueObject[i].id;
		selectElement.appendChild(newOption);
	}
	
	change_issue(issue_select.value);
	
	addHandlers();
	
	show_map();
});

function addHandlers() {
  $("#issue_select").change( function() { change_issue(issue_select.value) });
  $("#add_interest_button").click( function() { add_interest(id_newIssue.value) });
  $('#id_newIssue').keypress(function(event){
	var keycode = (event.keyCode ? event.keyCode : event.which);
	if(keycode == '13'){
		add_interest(id_newIssue.value);	
	}
	event.stopPropagation();
});}

function change_issue(newIssue) {
  $.getJSON("/dico/getinterests/", { pk: newIssue}, function(json){
    var s = "";
    if (json['error']) {
    	s = json['error'];
    } else {
    	var interests = json['interests'];
		for (i = 0; i < interests.length; ++i) {
			var interest = interests[i];
			s = s + interest['state'] + "-" + interest['district'] + ": " + interest['constituent_count'] + "<br>"
		}
	}
    $("#my_score").html('').append(s);
  });
}

function add_interest(newIssueName) {
  $.post("/dico/submitnewissue/", { csrfmiddlewaretoken: '{{ csrf_token }}', 'newissue': newIssueName}, function(json){
    if (json['success']) {
        show_my_interests();
        if (newIssueName == id_newIssue.value) {
        	$("#id_newIssue").val('');
        	$("#id_newIssue").focus();
        }
    }
  });
}

function enter_interest(e, inputObject){
var code = (e.keyCode ? e.keyCode : e.which);
if(code == 13) { //Enter keycode
 add_interest(id_newIssue.value);
}
}

function show_my_interests() {
  $.post("/dico/getmyissues/", { csrfmiddlewaretoken: '{{ csrf_token }}'}, function(json){
    var s = "<ul>"
    var issues = json['issues'];
    for (i = 0; i < issues.length; ++i) {
    	issue = issues[i];
    	s = s + '<li><a href="/dico/' + issue['id'] + '/issue/">' + issue['name'] + '</a></li>'
    }
    s=s+"</ul>"
    $("#my_interests").html('').append(s);
  });
}
</script>

<!-- Scripts for data mapping --!>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://d3js.org/queue.v1.min.js"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>
</head>

<body>
<div id='header'>
{% if user.is_authenticated %}
	<h1>Hello, {{ user.get_full_name }}</h1>
	<a href="/dico/signout/">Sign Out</a><br>
{% else %}
	<a href="/dico/signin/">Sign In</a><br>
{% endif %}
</div>

{% if user.is_authenticated %}
	<h2>Your Interests</h2>
	<div id='my_interests'>
	</div>
{% endif %}

{% if user.is_authenticated %}
  <div class="form-row">
    <label for="id_newIssue" class="required"></label> 
    <input id="id_newIssue" width="200" maxlength="254" name="newissue" type="text"
    		onKeyPress="enter_interest(event, this)"/>
    <label>&nbsp;</label><input type="button" id="add_interest_button" value="+" />
  </div>
{% endif %}

<h2>All Issues</h2>
<div>
{% if issue_list %}
    <select id="issue_select">
    </select>
    
    <span id="my_label">Selected ID:</span> <span id="my_score"></span>
{% else %}
    <p>No issues are available.</p>
{% endif %}
</div>

State: <span id="state_span"></span><br>
District: <span id="district_span"></span><br>

<div id="mapFrame">
</div>

<script type="text/JavaScript">

var width = 960,
    height = 600;

var projection = d3.geo.albersUsa()
    .scale(1280)
    .translate([width / 2, height / 2]);

var path = d3.geo.path()
    .projection(projection);

function show_map() {
	var stateCodes = ["", 
		"AL", "AK", "AS", "AZ", "AR", "CA", "??", "CO", "CT", "DE", 
		"DC", "FL", "GA", "GU", "HI", "ID", "IL", "IN", "IA", "KS", 
		"KY", "LA", "ME", "MD", "MA", "MI", "MN", "MS", "MO", "MT", 
		"NE", "NV", "NH", "NJ", "NM", "NY", "NC", "ND", "OH", "OK", 
		"OR", "PA", "PR", "RI", "SC", "SD", "TN", "TX", "UT", "VT", 
		"VA", "VI", "WA", "WV", "WI", "WY"];
	
	function mouseoverstate() {
	  $("#state_span").html('').append("In " + this);
	}

	function mouseoverdistrict() {
	  thisTitle = parseInt(d3.select(this).select("title").text());
	  stateIndex = (thisTitle / 100 | 0);
	  districtIndex = thisTitle % 100;
	  s = stateCodes[stateIndex] + "-"; 
	  if (districtIndex == 0) {
	  	s = s + "01";
	  } else if (districtIndex < 10) {
	  	s = s + "0" + districtIndex;
	  } else {
	  	s = s + districtIndex;
	  }

	  $("#district_span").html('').append(s);
	}

	function mouseoutstate() {
	  $("#state_span").html('');
	}

	function mouseoutdistrict() {
	  $("#district_span").html('');
	}

	function ready(error, us, congress) {
	  if (error) return console.error(error);

	  var districts = congress.objects.districts;

	  svg.append("defs").append("path")
		  .attr("id", "land")
		  .datum(topojson.feature(us, us.objects.land))
		  .attr("d", path)
		  .on("mouseover", mouseoverstate)
    	  .on("mouseout", mouseoutstate);

	  svg.append("clipPath")
		  .attr("id", "clip-land")
		.append("use")
		  .attr("xlink:href", "#land");

	  var district = svg.append("g")
		  .attr("class", "land")
		  .attr("clip-path", "url(#clip-land)")
		.selectAll("path")
		  .data(topojson.feature(congress, districts).features)
		.enter().append("path")
		  .attr("d", path)
		  .on("mouseover", mouseoverdistrict)
    	  .on("mouseout", mouseoutdistrict);

	  district
    	  .append("title")
		  .text(function(d) { return d.id; });

	  svg.append("path")
		  .attr("class", "border border--district")
		  .datum(topojson.mesh(congress, congress.objects.districts, function(a, b) { return a !== b && (a.id / 1000 | 0) === (b.id / 1000 | 0); }))
		  .attr("d", path);

	  svg.append("path")
		  .attr("class", "border border--state")
		  .datum(topojson.mesh(us, us.objects.states, function(a, b) { return a !== b; }))
		  .attr("d", path);
	}

	// Remove any lingering contents from the mapFrame.
	$("#mapFrame").empty();
	
	var svg = d3.select("#mapFrame").append("svg")
		.attr("width", width)
		.attr("height", height);

	// json files for us state map and us districts map taken from https://gist.github.com/mbostock/4090846
	queue()
		.defer(d3.json, "/static/dico/us.json")
		.defer(d3.json, "/static/dico/us-congress-113.json")
		.await(ready);
}

d3.select(self.frameElement).style("height", height + "px");

</script>

{% if user.is_authenticated %}
	<h2>Your Members</h2>
	<div>
	{% if member_list %}
		<ul>
		{% for member in member_list %}
			<li><a href="{% url 'member' %}/?bioguide_id={{ member.bioguide_id }}">
				  <img width="50" src="http://theunitedstates.io/images/congress/original/{{ member.bioguide_id }}.jpg" /> <br>
				{{ member.title }} {{ member.first_name }} {{ member.last_name }} {{ member.suffix }}</a></li>
		{% endfor %}
		</ul>
	{% else %}
		<p>No members are available.</p>
	{% endif %}
	</div>
{% endif %}
</body>