.errorAlert {
  max-width: 330px;
}

.argument_row
{
	padding-left: 15px;
	padding-right: 15 px;
}
.argument_textarea
{
  margin-bottom: 0px;
  max-width: 100%;
}
.argument_addbutton
{
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 100%;
}
