.table-label {
  margin-top: 5px;
  margin-bottom: 6px;
  margin-left: 3px;
  margin-right: 3px;
}
.full-width-table {
  word-wrap: break-word;
}
.issue-col {
  display: inline-block;
  width: 100%;
}
.issue-container {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
.issue-name {
  white-space: normal;
  word-wrap: break-word;
  text-align: left;
}
.issue-name-thin {
  width: 88%;
}
.issue-chevron {
  width: 10%;
}
.interest-column {
	padding-left: 0px;
	padding-right: 0px;
}

@media (min-width: 768px) {
	.member-column {
		text-align: right;
	}
}

.member-row {
	padding-left: 0px;
	padding-right: 0px;
}

.member-title {
	display: inline-block;
	vertical-align: middle;
	float: none;
	padding-left: 0px;
	padding-right: 0px;
	font-family: "Times New Roman", Georgia, Serif;
	font-weight: bold;
}

.member-picture {
	display: inline-block;
	vertical-align: middle;
	float: none;
	width: 52px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 0px;
	padding-right: 5px;
}

.separator-bold {
	background:#3366CC; 
	border:0; 
	height:7px;
}

.header {
	background-color:green;
	color:white;
	padding:5px;
}

path {
  stroke-linejoin: round;
  stroke-linecap: round;
}

.land {
  fill: #81BFC0;
}

.land :hover {
  fill: #3399FF;
}

/* 
.land .neighbor {
  fill: orange;
}
 */

.border {
  pointer-events: none;
  fill: none;
  stroke: #fff;
}

.border--district {
  stroke-width: .5px;
}

.border--state {
  stroke-width: 1.5px;
}

// Styles for tool tips.
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

circle {
  fill: #888;
}

.bubble {
  fill: #9A3334;
  fill-opacity: 0.75;
  stroke: white;
  stroke-width: 0.5px;
}

.map-select-column {
	display: inline-block;
	vertical-align: bottom;
	float: none;
	padding-left: 5px;
	width: 100%;
}

.map-options-column {
	display: inline-block;
	vertical-align: bottom;
	float: none;
}

