.petition-description {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.issue-column {
	background: #DDD;
}

.lightbackground {
		background: #EEE;
}

.toplabel {
		padding-top: 3px;
		vertical-align: text-top;
  		margin: 0 auto;
}

.bottompadding {
		padding-bottom: 3px
}

.argument-table {
}

.argument-container {
    margin-top: 20px;
	background: white;
}
th {white-space:nowrap}
	
