.lead {
	padding-top: 10px;
}

.toplabel {
	padding-top: 10px;
	vertical-align: text-top;
	margin: 0 auto;
}

.simple-separator {
	background:#AAA; border:0; height:2px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.no-top-padding {
	padding-top: 0px;
}

.bottom-padding {
	padding-bottom: 3px;
}

.argument-table {
}

.argument-container {
	background: white;
}
.delete-row-padding {
	padding-top: 10px;
	padding-bottom: 3px;
}
th {white-space:nowrap}
	
