<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>I Do Declare</title>

    <!-- Bootstrap -->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "dico/css/petition.css" %}" rel="stylesheet">
    <link href="{% static "dico/css/addargument.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

	<!-- Styles for this web page -->
	<style>

	</style>


  </head>
  <body>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

	<!-- Scripts for this web page -->
	<script type="text/JavaScript">
	
		var deferredObject;

		// Display all of the interests in the system.
		var storedcsrftoken = "{{ csrf_token }}";

		$(document).ready (function(e) {
			<!-- Block of code for an alert area at the top of the window -->
			$(".close").click(function(){
				$(this).parent().alert();
			});
			
			bootstrap_alert = function() {}
			bootstrap_alert.show = function(parentDiv, message, alertClass) {
				parentDiv.html('<div class="alert ' + alertClass + ' alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><span>'+message+'</span></div>')
			}
			bootstrap_alert.warning = function(message) {
				bootstrap_alert.show($('#myAlert'), message, "alert-danger");
			}
        	closealert = function() { 
        		$('.alert').parent().html('');
        	}
        	
        	b = document.getElementById("id_add_argument_button")
        	$("#id_new_argument_text").on("keyup input paste", checkenabled);
        	checkenabled();
        	
			$(b).click(function() {
				add_argument($("#id_new_argument_text").val());
			});

			document.getElementById("id_new_argument_text").focus();
		});

		function add_argument(newArgumentText) {
		  closealert();
		  deferredObject = $.post("/dico/newargument/", { csrfmiddlewaretoken: storedcsrftoken, 
		  												  "petition" : "{{petition.id}}", 
		  												  "vote" : {{ argumentVote }}, 
		  												  "description": newArgumentText} 
		  	)
		  .done(function(json, textStatus, jqXHR)
		  	{
				if (json['success']) {
					window.location.href = "/dico/{{petition.id}}/petition/?backIssueID={{backIssueID}}"
				}
				else {
					bootstrap_alert.warning(json['error']);
				}
			})
		  .fail(function(jqXHR, textStatus, errorThrown) {
		    bootstrap_alert.warning(jqXHR.status + "; " + jqXHR.statusText);
			console.log( "error: " + textStatus + "; " + errorThrown + ";");
			console.log( jqXHR.status + "; " + jqXHR.statusText);
		  });
		}

		function enter_new_argument(e, inputObject){
			var code = (e.keyCode ? e.keyCode : e.which);
			if(code == 13 && $("#id_new_argument_text").val().length > 0) { //Enter keycode
				add_argument($("#id_new_argument_text").val());
				e.stopPropagation();
			}
		}
		
		function checkenabled() {
			$("#id_add_argument_button").prop("disabled", $("#id_new_argument_text").val().length == 0);
		}
				
	</script>

	<div id='container' class="container">
		<nav class="navbar navbar-default" role="navigation">
		  <div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="nav navbar-nav navbar-header pull-left">
			  <a class="navbar-text" href="/dico/{{petition.id}}/petition/?backIssueID={{backIssueID}}">
			  	Cancel</a>
			</div>
		  </div><!-- /.container-fluid -->
		</nav>

	    <div id="myAlert" class="row"></div>

		<div class="lightbackground row">
			<div class="col-xs-12 col-sm-8">
				<h3 id='id_petition_title' class="toplabel">An Action for Congress:</h3>
				<p class="lead">{{petition.description}}</p>
			</div>
			<div class="col-xs-12 col-sm-4 container issue-column">
				<div class="row">
					<div class="col-xs-9">
						<label for="id_petition_issues" class="toplabel">Related Issues</label>
						{% for issue in petition.issues.all %}
						<div class="row" />
							<div class="col-xs-12"><span class="btn btn-xs">{{ issue.name }}</span></div>
						</div>
						{% endfor %}
					</div>
				</div>
				<div id='id_petition_issues'> </div>
			</div>
		</div>
			
		<div class="lightbackground row">
		{% if voteLabel == "Opposing" %}
			<div class="col-xs-12 col-md-6"></div>
		{% endif %}
			<div class="col-xs-12 col-md-6">
				<label for="new_issue_input_group"">New {{ voteLabel }} Argument</label>
				<textarea id="id_new_argument_text" rows="4" maxlength="254" class="form-control argument_textarea"
					 onKeyPress="enter_new_argument(event, this)"></textarea>
				<button type="button" id="id_add_argument_button" class="btn btn-primary btn-block argument_addbutton" >
					Add Argument
				</button>
			</div>
		</div>
	</div>
</body>