<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>I Do Declare - Create Action</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "dico/css/dicopage.css" %}" rel="stylesheet">
    <link href="{% static "dico/css/createPetition.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
  </head>

  <body>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

	<!-- Scripts for this web page -->
	<script type="text/JavaScript">
	
		var storedcsrftoken = "{{ csrf_token }}";

		$(document).ready (function(e) {
			<!-- Block of code for an alert area at the top of the window -->
			$(".close").click(function(){
				$(this).parent().alert();
			});
		
			bootstrap_alert = function() {}
			bootstrap_alert.show = function(parentDiv, message, alertClass) {
				parentDiv.html('<div class="alert ' + alertClass + ' alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><span>'+message+'</span></div>')
			}
			bootstrap_alert.warning = function(message) {
				bootstrap_alert.show($('#myAlert'), message, "alert-danger");
			}
			closealert = function() { 
				$('.alert').parent().html('');
			}
			
			function getNewIssueName()
			{
				return $('input[name=issueRadio]:checked').val();
			}
			
			function submitform() {
				closealert();
		
				$.post("/dico/newpetition/", 
					{ csrfmiddlewaretoken: '{{ csrf_token }}', 
						{% if issue %}
							"issue": "{{ issue.name }}",
						{% else %}
							"issue": getNewIssueName(),
						{% endif %}
						"description": $("#id_textarea").val(),
					})
				  .done(function(json, textStatus, jqXHR)
					{
						if (json['success']) {
							closealert();
							window.location = "/dico/" + json['petition'] + "/petition/"
							{% if issue %}
								+ "?backIssueID="+"{{ issue.id }}"
							{% endif %}
						}
						else {
							bootstrap_alert.warning(json['error']);
						}
					})
				  .fail(function(jqXHR, textStatus, errorThrown) {
		    		bootstrap_alert.warning(jqXHR.status + "; " + jqXHR.statusText);
					console.log( "error: " + textStatus + "; " + errorThrown + ";");
					console.log( jqXHR.status + "; " + jqXHR.statusText);
				  });
			}
			
			$("#id_step2").css('display', 'none');
			
			$("#id_form").on('submit', function (e) {
				if ($("#id_textarea").val() === "") {
					bootstrap_alert.warning("Specify a description for the action.");
					$("id_textarea").focus();
				}
				{% if issue == null %}
				else if ($("#id_step2").css('display') == 'none') {
					closealert();
					$("#id_submitbutton").text('Create');
					$("#cancel_button").text('Back');
					$("#id_step2").css('display', 'table');
					$("#id_step1").css('display', 'none');
				}
				{% endif %}
				else
				{
					submitform();
				}

			   //stop form submission
			   e.preventDefault();
			});
			
			{% if issue %}
			$("#id_submitbutton").text('Create');
			{% endif %}
			
			$("#cancel_button").click(function(e) {
				{% if issue == null %}
				if ($("#id_step2").css('display') == 'none') {
				{% endif %}
					window.location = "{{ backURL }}";
					e.preventDefault();
				{% if issue == null %}
				}
				else
				{
					$("#id_submitbutton").text('Next');
					$("#cancel_button").text('Cancel');
					$("#id_step1").css('display', 'table');
					$("#id_step2").css('display', 'none');
					$("#id_textarea").focus();
				}
				{% endif %}
			});
			$("#id_submitbutton").click(function(e) {
				if ($("#id_textarea").val() === "") {
					bootstrap_alert.warning("Specify a description for the action.");
					$("#id_textarea").focus();
				}
				{% if issue == null %}
				else if ($("#id_step2").css('display') == 'none') {
					closealert();
					$("#id_submitbutton").text('Create');
					$("#cancel_button").text('Back');
					$("#id_step2").css('display', 'table');
					$("#id_step1").css('display', 'none');
				}
				{% endif %}
				else
				{
					submitform();
				}

				e.preventDefault();
			});
		});

		function showTips() {
			bootstrap_alert.show($('#tipsAlert'), 
				"<small>Start your action with a verb, such as the following:" +
				"<ul>" +
				"<li>Pass a law to...</li>" +
				"<li>Authorize the Executive Branch to...</li>" +
				"<li>Prohibit the Executive Branch from...</li>" +
				"<li>Appropriate funds to...</li>" +
				"</ul>" +
				" Double check your spelling and grammer. Don't use all capital letters and" + 
				" avoid acronyms whenever possible." +
				"<br><br>You won't be able to edit the action once it has been created.</small>",
				"alert-info");
		};
	</script>

    <div class="container-fluid">
		<nav class="navbar navbar-default navbar-fixed-top dico-navbar" role="navigation">
			<div class="container-fluid">
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="nav navbar-header">
					<div class="dico-navbar-commands">
						<span class="dico-pull-left">
							<span id="cancel_button" class="navbar-text navbar-link pull-left dico-navbar-text">Cancel</span>
						</span>
						<div class="dico-fill"><span class="navbar-text dico-inner-fill"><strong>Create Action</strong></span></div>
						<span class="dico-pull-right">
							<span id="id_submitbutton" class="navbar-text navbar-link pull-right dico-navbar-text">Next</span>
						</span>
					</div>
				</div><!-- /.nav -->
			</div>
		</nav>
		
		<form class="form-createpetition" id="id_form">
			<div id = "id_step1">
				<div class="row">
					{% if issue %}
						<label class="col-xs-12" for="id_textarea">What action should Congress take regarding {{issue.name}}?</label>
					{% else %}
						<label class="col-xs-12" for="id_textarea">What action should Congress take?</label>
					{% endif %}
				</div>
				<div class="row">
					<div id="myAlert" class="errorAlert col-xs-12"></div>
				</div>
				<div class="row">
					<textarea id="id_textarea" rows=5 maxlength="254" name="description" class="form-control col-xs-12" 
						placeholder="Pass a law to..." required autofocus></textarea>
				</div>
				<div class="row">
					<a class="col-xs-12" href="##" onClick="showTips()"><small>Tips for writing actions</small></a>
				</div>
				<div class="row">
					<div id="tipsAlert" class="errorAlert col-xs-12"></div>
				</div>
    		</div>
    		<div id="id_step2" class="row">
    			<div class="col-xs-12 help-block">Select an issue associated with this new action.</div>
    			{% if allIssues %} 
					{% for testIssue in allIssues %}
						<div class="col-xs-12">
							<label class="btn btn-link btn-xs">
								<input type="radio" name="issueRadio" value="{{testIssue.name}}"> </input>
								{{ testIssue.name }}
							</label>
						</div>
					{% endfor %}
				{% endif %}
    		</div>
      </form>

    </div> <!-- /container -->


<!--     IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static "bootstrap/assets/js/ie10-viewport-bug-workaround.js" %}"></script>
  </body>
</html>
