<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>I Do Declare</title>

    <!-- Bootstrap -->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

	<!-- Styles for this web page -->
	<style>

	</style>


  </head>
  <body>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

	<!-- Scripts for this web page -->
	<script type="text/JavaScript">
	
		var deferredObject;

		function htmlDecode(input){
		  var e = document.createElement('div');
		  e.innerHTML = input;
		  return e.childNodes[0].nodeValue;
		}
		
		function htmlEncode(input){
			str = $('<div>').text(input).html();
		    return String(str).replace(/ /g, '&nbsp;');
		}
		
		function oneWordTitleCase(input) {
			return i[0].toUpperCase() + i.substring(1);
		}
		
		function validIssueName(input){
			return input.split(" ").map(function(i){return oneWordTitleCase(i)}).join(" ");
		}

		// Display all of the interests in the system.
		var storedcsrftoken = "{{ csrf_token }}";

		$(document).ready (function(e) {
			<!-- Block of code for an alert area at the top of the window -->
			$(".close").click(function(){
				$("#myAlert").alert();
			});
			
			bootstrap_alert = function() {}
			bootstrap_alert.warning = function(message) {
            	$('#myAlert').html('<div class="alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><span>'+message+'</span></div>')
        	}
        	closealert = function() { 
        		$('#myAlert').html('');
        	}
			
			// Display the interests of the currently logged-in user.
			show_my_interests();
			check_new_interest();
			
			$("#add_interest_text").bind("keyup input paste", function() {
				check_new_interest();
			});
			$("#add_interest_button").click(function() {
				add_interest(add_interest_text.value);
			});
		});

		function add_interest(newIssueName) {
		  deferredObject = $.post("/dico/newinterest/", { csrfmiddlewaretoken: storedcsrftoken, "newissue": newIssueName} 
		  	)
		  .done(function(json, textStatus, jqXHR)
		  	{
				if (json['success']) {
					show_my_interests();
					if (newIssueName == add_interest_text.value) {
						$("#add_interest_text").val('');
						$("#add_interest_text").focus();
					}
				}
				else {
					bootstrap_alert.warning("Sorry, " + json['error']);
				}
			})
		  .fail(function(jqXHR, textStatus, errorThrown) {
			console.log( "error: " + textStatus + "; " + errorThrown + ";");
			console.log( jqXHR.status + "; " + jqXHR.statusText);
		  });
		}

		function enter_interest(e, inputObject){
			var code = (e.keyCode ? e.keyCode : e.which);
			if(code == 13 && add_interest_text.value.length > 0) { //Enter keycode
			 add_interest(add_interest_text.value);
			}
			e.stopPropagation();
		}
		
		function check_new_interest(){
			if (add_interest_text.value.length > 0) {
				$('#add_interest_button').prop('disabled', false);
			}
			else {
				$('#add_interest_button').prop('disabled', true);
			}
		}
		
		function remove_interest(issueName) {
		  $.post("/dico/submitdeleteinterest/", { csrfmiddlewaretoken: storedcsrftoken, 'oldinterest': issueName}, function(json){
			if (json['success']) {
				show_my_interests();
			}
			else {
				bootstrap_alert.warning("Sorry, " + json['error']);
			}
		  });
		}

		function hasIssue(issues, oldName) {
			var i;
			for (i = 0; i < issues.length; ++i) {
				if (issues[i]['name'] == oldName) {
					return true;
				}
			}
			return false;
		}

		function show_my_interests() {
		  $.post("/dico/getmyissues/", { csrfmiddlewaretoken: storedcsrftoken}, function(json){
			myIssues = json['myIssues'];
			
			$("#my_interests").empty();
			ul = document.createElement( "ul" );
			$(ul).addClass("list-unstyled");
			$("#my_interests").append(ul);
			
			for (i = 0; i < myIssues.length; ++i) {
				issue = myIssues[i];
				li = document.createElement("li");
				newButton = document.createElement("button");
				newSpan = document.createElement("span");
				$(newSpan).addClass("glyphicon glyphicon-remove");
				$(ul).append(li);
				$(li).append(newButton);
				$(newButton).append(htmlEncode(issue['name']));
				$(newButton).addClass("btn btn-link btn-xs");
				$(newButton).append(newSpan);
				$(newButton).attr("issueName", issue['name']);
				$(newButton).click(function() {
					remove_interest($(this).attr("issueName"));
				});
			}
			
			// Remove any lingering contents from the mapFrame.
			$("#issue_div").empty();
	
		  	$.getJSON("/dico/getactiveissues/", { 'minInterestCount': 1}, function(json){
				var allIssues = json['issues'];

				for (i = 0; i < allIssues.length; ++i) {
					issue = allIssues[i];
					if (!hasIssue(myIssues, issue.name))
					{
						newButton = document.createElement('button');
						newSpan = document.createElement('span');
						$("#issue_div").append(newButton);
						$(newSpan).addClass("glyphicon glyphicon-chevron-left");
						$(newButton).addClass("btn btn-link btn-xs")
							.append(newSpan)
							.append(htmlEncode(issue.name))
							.attr("issuename", issue.name)
							.click(function(e, inputObject) { 
								add_interest($(this).attr("issuename")); 
							})
							;
					}
				}
			});
		  });
		}
		
	</script>

	<div id='container' class="container">
		<nav class="navbar navbar-default" role="navigation">
		  <div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="nav navbar-nav navbar-header pull-left">
			  <a class="navbar-text" href="/dico/"><span class="glyphicon glyphicon-chevron-left"></span>Home</a>
			</div>
		  </div><!-- /.container-fluid -->
		</nav>

	    <div id="myAlert" class="row"></div>

		<div class="row">
			<div class="col-xs-12 col-sm-5">
				<label for="my_interests" class="control-label">Your Interests</label>
				<div id='my_interests'>
				</div>

			</div>
			
			<div class="col-xs-12 col-sm-6">
				<label for="issue_div" class="control-label">Issues Other People Care About</label>
				<div id="issue_div" class="row">
				</div>

				<label for="new_issue_input_group" class="control-label">A New Issue You Care About</label>
				<div id="new_issue_input_group" class="input-group">
				  <input type="text" id="add_interest_text" width="200" maxlength="254" name="newissue" class="form-control"
				  		 onKeyPress="enter_interest(event, this)" />
				  <div class="input-group-btn">
				  	<button type="button" id="add_interest_button" class="btn btn-default" >
				  		<span class="glyphicon glyphicon-chevron-left"></span>
				  	</button>
				  </div>
				</div>
			</div>
		</div>

</div> <!-- container -->
</body>