<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>I Do Declare</title>

    <!-- Bootstrap -->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Scripts for data mapping --!>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://d3js.org/queue.v1.min.js"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>

	<!-- Styles for this web page -->
	<style>

	.header {
		background-color:green;
		color:white;
		padding:5px;
	}

	path {
	  stroke-linejoin: round;
	  stroke-linecap: round;
	}

	.land {
	  fill: #bbb;
	}

	.land :hover {
	  fill: purple;
	}

	/* 
	.land .neighbor {
	  fill: orange;
	}
	 */

	.border {
	  pointer-events: none;
	  fill: none;
	  stroke: #fff;
	}

	.border--district {
	  stroke-width: .5px;
	}

	.border--state {
	  stroke-width: 1.5px;
	}

	// Styles for tool tips.
	.d3-tip {
	  line-height: 1;
	  font-weight: bold;
	  padding: 12px;
	  background: rgba(0, 0, 0, 0.8);
	  color: #fff;
	  border-radius: 2px;
	}

	/* Creates a small triangle extender for the tooltip */
	.d3-tip:after {
	  box-sizing: border-box;
	  display: inline;
	  font-size: 10px;
	  width: 100%;
	  line-height: 1;
	  color: rgba(0, 0, 0, 0.8);
	  content: "\25BC";
	  position: absolute;
	  text-align: center;
	}

	/* Style northward tooltips differently */
	.d3-tip.n:after {
	  margin: -1px 0 0 0;
	  top: 100%;
	  left: 0;
	}

	circle {
	  fill: #888;
	}

	.bubble {
	  fill: #FCC;
	  fill-opacity: 0.5;
	  stroke: white;
	  stroke-width: 0.5px;
	}
	
	.member-column {
		background: #DDD;
		padding-left: 0px;
		padding-right: 0px;
	}
	
	.map-select-column {
		display: inline-block;
    	vertical-align: bottom;
    	float: none;
	}
	
	.map-options-column {
		display: inline-block;
    	vertical-align: bottom;
    	float: none;
	}
	
	.member-row {
		padding-left: 0px;
		padding-right: 0px;
	}
	
	.member-title {
		display: inline-block;
    	vertical-align: middle;
    	float: none;
    	padding-left: 0px;
    	padding-right: 0px;
	}
	
	.member-picture {
		display: inline-block;
    	vertical-align: middle;
    	float: none;
		width: 52px;
		padding-top: 2px;
		padding-bottom: 2px;
    	padding-left: 0px;
    	padding-right: 0px;
	}

	</style>


  </head>
  <body>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

	<!-- Scripts for this web page -->
	<script type="text/JavaScript">

		var stateCodes = ["", 
			"AL", "AK", "AS", "AZ", "AR", "CA", "??", "CO", "CT", "DE", 
			"DC", "FL", "GA", "GU", "HI", "ID", "IL", "IN", "IA", "KS", 
			"KY", "LA", "ME", "MD", "MA", "MI", "MN", "MS", "MO", "MT", 
			"NE", "NV", "NH", "NJ", "NM", "NY", "NC", "ND", "OH", "OK", 
			"OR", "PA", "PR", "RI", "SC", "SD", "TN", "TX", "UT", "VT", 
			"VA", "VI", "WA", "WV", "WI", "WY"];
			
		var districtScope = "district",
			stateScope = "state";
		
		
		function htmlDecode(input){
		  var e = document.createElement('div');
		  e.innerHTML = input;
		  return e.childNodes[0].nodeValue;
		}

		$(document).ready (function() {
			initmap();

			// Display the interests of the currently logged-in user.
			show_my_interests();

			addHandlers();
		});

		$(window).resize(function() {
		  	resize_map();
		});
		
		function initmap() {
			// Initialize the map.
			var width = $("#mapFrame").width();
			var height = width / 8 * 5;
		
			function ready(error, us) {
			  if (error) return console.error(error);

				var projection = d3.geo.albersUsa()
					.scale(width * 4 / 3)
					.translate([width / 2, height / 2]);

				var path = d3.geo.path()
					.projection(projection);

				// add the path for all of the us land.
				svg.append("defs").append("path")
				  .attr("id", "land")
				  .datum(topojson.feature(us, us.objects.land))
				  .attr("d", path);

				svg.append("clipPath")
				  .attr("id", "clip-land")
				  .append("use")
					.attr("xlink:href", "#land");
					
				svg.append("g")
				  .attr("class", "land")
				  .attr("clip-path", "url(#clip-land)");
			}

			svg = d3.select("#mapFrame").append("svg")
				.attr("width", width)
				.attr("height", height);
				
			// json files for us state map and us districts map taken from https://gist.github.com/mbostock/4090846
			queue()
				.defer(d3.json, "{% static "dico/us.json" %}")
				.await(ready);
		}
		
		function resetCircles() { 
		  	if ($("#byDistrictRadio").prop("checked")) { 
		  		change_issue($("#issue_select").val(), districtScope);
		  	} else {
		  		change_issue($("#issue_select").val(), stateScope);
		  	}
		  }

		function addHandlers() {
		  $("#issue_select").change( function() { resetCircles() });
		  $("#byDistrictRadio").change( function() {
		  	show_map($("#issue_select").val(), districtScope);
		  });
		  $("#byStateRadio").change( function() { 
		  	show_map($("#issue_select").val(), stateScope);
		  });
		}
		

		function change_issue(newIssue, newScope) {
		  $.getJSON("/dico/getinterests/", { pk: newIssue, scope : newScope}, function(json){
			var s = "";
			if (json['error']) {
				s = json['error'];
			} else {
				var interests = json['interests'];
				var countMax = d3.max(interests, function(d) {return d.constituent_count; })
		
				if (countMax < 10) { countMax = 10; }
		
				var svg = d3.select("#mapFrame").select("svg");
				var circles = svg.selectAll(".bubble");
		
				rScale = d3.scale.linear()
							.domain([0, countMax])
							.range([0, 30]);

				// Clear the radii of all of the circles.
				circles.attr("r", 0);
		
				for (i = 0; i < interests.length; ++i) {
					var interest = interests[i];
					var interestID;
					
					if (newScope == districtScope) {
						s = s + interest['state'] + "-" + interest['district'] + ": " + interest['constituent_count'] + "<br>"
						// Handle the special case for 'DC' here. The case for states with only one district
						// is handled elsewhere.
						if (interest['state'] == 'DC') {
							interestID=100*stateCodes.indexOf(interest['state']) + 98;
						} else {
							interestID=100*stateCodes.indexOf(interest['state']) + interest['district'];
						}
					}
					else {
						s = s + interest['state'] + ": " + interest['constituent_count'] + "<br>"
						interestID=stateCodes.indexOf(interest['state']);
					}

					var ba = circles.filter(function() { return (this.getAttribute("id")==interestID);})
					if (ba.size() == 0 && newScope == districtScope && interest['district'] == 1) {
						ba = circles.filter(function() { return (this.getAttribute("id")==interestID-1);})
					}
					if (ba.size() > 0) {
						ba[0][0].setAttribute("r", rScale(interest['constituent_count']));
					}
				}
			}
			$("#my_score").html('').append(s);
		  });
		}

		function htmlEncode(input){
			str = $('<div>').text(input).html();
		    return String(str).replace(/ /g, '&nbsp;');
		}
		
		function show_my_interests() {
		  $.post("/dico/getmyissues/", { csrfmiddlewaretoken: '{{ csrf_token }}'}, function(json){
			
			{% if user.is_authenticated %}
				$("#my_interests").empty();
				ul = document.createElement( "ul" );
				$(ul).addClass("list-unstyled");
				$("#my_interests").append(ul);
				
				var issues = json['myIssues'];
				for (i = 0; i < issues.length; ++i) {
					issue = issues[i];
					li = document.createElement("li");
					newButton = document.createElement("a");
					$(ul).append(li);
					$(li).append(newButton);
					$(newButton).append(issue['name']);
					$(newButton).addClass("btn btn-link btn-xs");
					newSpan = document.createElement("span")
					$(newSpan).addClass("glyphicon glyphicon-chevron-right");
					$(newButton).append(newSpan);
					$(newButton).attr("href", "/dico/" + issue['id'] + "/issue/");
				}
			{% endif %}

		  	$.getJSON("/dico/getactiveissues/", { 'minInterestCount': 1}, function(json){
				var allIssues = json['issues'];

				selectElement = document.getElementById("issue_select")
	
				// Add an option for each issue to the select object.
				for (i = 0; i < allIssues.length; ++i) {
					newOption = document.createElement('option');
					newOption.innerHTML = allIssues[i].name;
					newOption.value = allIssues[i].id;
					selectElement.appendChild(newOption);
				}
				reset_map();
			});

		  });
		}
		
		function resize_map() {
			var width = $("#mapFrame").width();
			var height = width / 8 * 5;

			var projection = d3.geo.albersUsa()
				.scale(width * 4 / 3)
				.translate([width / 2, height / 2]);

			var path = d3.geo.path()
				.projection(projection);

			var svg = d3.select("#mapFrame").select("svg");

			// add the path for all of the us land.
			svg.select("defs").select("path")
			  .attr("d", path);
			
			reset_map();
		}
		
		function reset_map() {
		  	if ($("#byDistrictRadio").prop("checked")) { 
		  		show_map($("#issue_select").val(), districtScope);
		  	} else {
		  		show_map($("#issue_select").val(), stateScope);
		  	}
		}

		function show_map(newIssue, newScope) {
			var circleData = [];
	
			function mouseoverstate() {
			  stateIndex = parseInt(d3.select(this).select("title").text());
			  s = stateCodes[stateIndex]; 
			  $("#district_span").html('').append(s);
			}

			function mouseoverdistrict() {
			  thisTitle = parseInt(d3.select(this).select("title").text());
			  stateIndex = (thisTitle / 100 | 0);
			  districtIndex = thisTitle % 100;
			  s = stateCodes[stateIndex] + "-"; 
			  if (districtIndex == 0) {
				s = s + "01";
			  } else if (districtIndex < 10) {
				s = s + "0" + districtIndex;
			  } else {
				s = s + districtIndex;
			  }

			  $("#district_span").html('').append(s);
			}

			function mouseoutstate() {
			  $("#district_span").html('');
			}

			function mouseoutdistrict() {
			  $("#district_span").html('');
			}
	
			function ready(error, us, congress) {
			  if (error) return console.error(error);

			var districts = congress.objects.districts;

			var width = $("#mapFrame").width(),
				height = width / 8 * 5;

			svg.attr("width", width)
			   .attr("height", height);
			   
			var projection = d3.geo.albersUsa()
				.scale(width * 4 / 3)
				.translate([width / 2, height / 2]);

			var path = d3.geo.path()
				.projection(projection);

			circleData = [];
	  
			// Count the circleArray positions manually in case the indexes are not continuous.
			i = 0;
			var district = svg.select("g").selectAll("path");
			
			pathNodes = null;	
			if (newScope == districtScope) {
				  pathNodes = district.data(topojson.feature(congress, districts).features)
				.enter().append("path")
				  .attr("d", path)
				  .attr("class", "district")
				  .on("mouseover", mouseoverdistrict)
				  .on("mouseout", mouseoutdistrict)
				  .each(function(d){
						// Get the centroid or, if the centroid is degenerate, the bounds.
						centroid = path.centroid(d);
						if (isNaN(centroid[0]))
							centroid = path.bounds(d);

						if (!isNaN(centroid[0])) {
							circleData[i] = {"cx": centroid[0], "cy": centroid[1], "r": 0, "id": d.id};
							i++;
						}
					});
			} else {
				  pathNodes = district.data(topojson.feature(us, us.objects.states).features)
				.enter().append("path")
				  .attr("d", path)
				  .attr("class", "state")
				  .on("mouseover", mouseoverstate)
				  .on("mouseout", mouseoutstate)
				  .each(function(d){
						// Get the centroid or, if the centroid is degenerate, the bounds.
						centroid = path.centroid(d);
						if (isNaN(centroid[0]))
							centroid = path.bounds(d);

						if (!isNaN(centroid[0])) {
							circleData[i] = {"cx": centroid[0], "cy": centroid[1], "r": 0, "id": d.id};
							i++;
						}
					});
			}

			  pathNodes
				  .append("title")
				  .text(function(d) { return d.id; });
	  
			if (newScope == districtScope) {
			  svg.append("path")
				  .attr("class", "border border--district")
				  .datum(topojson.mesh(congress, congress.objects.districts, function(a, b) { return a !== b && (a.id / 1000 | 0) === (b.id / 1000 | 0); }))
				  .attr("d", path);
			}

			  svg.append("path")
				  .attr("class", "border border--state")
				  .datum(topojson.mesh(us, us.objects.states, function(a, b) { return a !== b; }))
				  .attr("d", path);
		  
				circles = svg.selectAll("circle")
					.data(circleData)
					.enter()
					.append("circle")
						.attr("class", "bubble")
						.attr("cx", function(d, i) { return d.cx; })
						.attr("cy", function(d) { return d.cy; })
						.attr("r", function(d) { return d.r; })
						.attr("id", function(d) { return d.id; })
						.call(function() {change_issue(newIssue, newScope); });
	  
	  			// Set the label for the object when mousing over.
	  			if (newScope == districtScope)
	  				$("#district_label").html('').append("District:");
	  			else
	  				$("#district_label").html('').append("State:");
			}

			// Remove any lingering contents from the mapFrame.
			
			var svg = d3.select("#mapFrame").select("svg");
			
			svg.selectAll(".district").remove();
			svg.selectAll(".state").remove();
			svg.selectAll(".border").remove();
			svg.selectAll(".bubble").remove();

			// json files for us state map and us districts map taken from https://gist.github.com/mbostock/4090846
			queue()
				.defer(d3.json, "{% static "dico/us.json" %}")
				.defer(d3.json, "{% static "dico/us-congress-113.json" %}")
				.await(ready);
		}

		d3.select(self.frameElement).style("height", ($("#mapFrame").width() / 8 * 5) + "px");
	</script>

	<div id='container' class="container">
		<nav class="navbar navbar-default" role="navigation">
		  <div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="nav navbar-nav navbar-header pull-left">
			  <a class="navbar-brand" href="/dico/">I Do Declare</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
		  <ul class="nav navbar-nav navbar-header pull-right">
			{% if user.is_authenticated %}
			<li class="dropdown">
			  <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.get_full_name }}<span class="caret"></span></a>
			  <ul class="dropdown-menu" role="menu">
				<li><a href="/dico/account/">Account Settings</a></li>
				<li><a href="#">Change Password</a></li>
				<li class="divider"></li>
				<li><a href="/dico/editinterests/">Edit Interests</a></li>
				<li class="divider"></li>
				<li><a href="/dico/signout/">Sign out</a></li>
			  </ul>
			</li>
			{% else %}
				<a class="navbar-text" href="/dico/signin/">Sign in</a>
			{% endif %}
		  </ul>
		  </div><!-- /.container-fluid -->
		</nav>

		<div class="row">
			<div class="col-xs-10 col-sm-4 col-md-3">
				{% if user.is_authenticated %}
				<label class="control-label">Your Interests</label><a class="btn btn-sm btn-link" href="/dico/editinterests/">Edit</a>
				<div id='my_interests'>
				</div>
				{% endif %}
			</div>
			
			{% if user.is_authenticated %}
			<div class="col-xs-12 col-sm-4 col-sm-offset-4 col-md-3 col-md-offset-6 text-right container-fluid member-column">
				<div class="col-md-12 text-right"><h4>Your Members</h4></div>
				<div>
				{% if member_list %}
					{% for member in member_list %}
					<div class="member-row text-right">
						<a href="{% url 'member' %}/?bioguide_id={{ member.bioguide_id }}">
							<div class="col-xs-9 col-md-9 col-lg-9 member-title">
								<strong>{{ member.title }} {{ member.first_name }} {{ member.last_name }} {{ member.suffix }}
								</strong>
							</div>
							<div class="col-xs-2 col-md-2 col-lg-2 member-picture">
								<img width="50" src="http://theunitedstates.io/images/congress/original/{{ member.bioguide_id }}.jpg" />
							</div>
							<br>
						</a>
					</div>
					{% endfor %}
				{% else %}
					<p>No members are available.</p>
				{% endif %}
				</div>
			</div>
			{% endif %}
		</div>

		<div class="row">
			{% if issue_list %}
			<div class="col-xs-7 col-sm-7 map-select-column">
<!-- 
				<form class="form-horizontal">
					<div class="form-group">
 -->
						<label for="issue_select" class="control-label">Where People Care About</label>
						<select id="issue_select" class="form-control">
						</select>
<!-- 
					</div>
				</form>
 -->
			</div>

			{% endif %}
			<div class="col-xs-4 map-options-column">
				<label class="radio-inline">
				  <input type="radio" name="scopeOptions" id="byDistrictRadio" value=districtScope checked /> by District
				</label>
				<label class="radio-inline">
				  <input type="radio" name="scopeOptions" id="byStateRadio" value=stateScope /> by State
				</label>			
			</div>
		</div>


		<div class="row">
			<div id="mapFrame" class="col-xs-12"> </div>
			<div class="col-xs-7 col-sm-8 col-md-9">
				<label id="district_label" for="district_span" class="control-label">District:</label> 
				<span id="district_span"></span><br>
				<label for="my_score" id="my_label" class="control-label">Table</label> <span id="my_score"></span>
			</div>
		</div>

</div> <!-- container -->
</body>