<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>I Do Declare - {{ issue.name }}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "dico/css/dicopage.css" %}" rel="stylesheet">
    <link href="{% static "dico/css/issuePetitions.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

	<!-- Styles for this web page -->
	<style>
		<!-- Account for bottom navigation bar -->
		body {
		  padding-bottom: 55px;
		}
	</style>


  </head>
  <body class="dico-two-nav-container">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

	<!-- Scripts for this web page -->
	<script type="text/JavaScript">
	
		var deferredObject;

		function htmlDecode(input){
		  var e = document.createElement('div');
		  e.innerHTML = input;
		  return e.childNodes[0].nodeValue;
		}
		
		function htmlEncode(input){
			str = $('<div>').text(input).html();
			return str;
		}
		
		function oneWordTitleCase(input) {
			return i[0].toUpperCase() + i.substring(1);
		}
		
		function validIssueName(input){
			return input.split(" ").map(function(i){return oneWordTitleCase(i)}).join(" ");
		}

		// Display all of the interests in the system.
		var storedcsrftoken = "{{ csrf_token }}";
		var elementToDelete = null;

		$(document).ready (function(e) {
			<!-- Block of code for an alert area at the top of the window -->
			$(".close").click(function(){
				$(this).parent().alert();
			});
			
			bootstrap_alert = function() {}
			bootstrap_alert.show = function(parentDiv, message, alertClass) {
				parentDiv.html('<div class="alert ' + alertClass + ' alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><span>'+message+'</span></div>')
			}
			bootstrap_alert.warning = function(message) {
				bootstrap_alert.show($('#myAlert'), message, "alert-danger");
			}
        	closealert = function() { 
        		$('.alert').parent().html('');
        	}
			
			$("#id_accountSettingsLink").attr("href", "/dico/account/?back="+window.location.href);
			$("#id_changePasswordLink").attr("href", "/dico/password/?back="+window.location.href);
			
			// Display the interests of the currently logged-in user.
			show_issue_petitions();
		});

		function show_issue_petitions() {
		  $.post("/dico/getissuepetitions/", { csrfmiddlewaretoken: storedcsrftoken, "issue" : "{{issue.id}}" }, function(json){
		  	if (json['success']) {
				petitions = json['petitions'];
			
				$("#id_issue_petitions").empty();
				for (i = 0; i < petitions.length; ++i) {
					petition = petitions[i];
					li = document.createElement("tr");
					$("#id_issue_petitions").append(li);
					td = document.createElement("td");
					$(li).append(td);

					$(td).append(htmlEncode(petition['description']));
										
					td = document.createElement("td");
					$(li).append(td);
					newButton = document.createElement("a");
					newSpan = document.createElement("span");
					if (petition['vote'] === 0) {
						$(td).append(newButton);
						$(newButton).addClass("btn btn-link btn-xs")
									.attr("href", "/dico/" + petition['id'] + "/petition/?backIssueID={{issue.id}}")
									.append(newSpan);
						$(newSpan).addClass("label label-info")
								  .append("Oppose");
						td = document.createElement("td");
						$(li).append(td);
						newButton = document.createElement("a");
					} else if (petition['vote'] === 1) {
						$(td).append(newButton);
						$(newButton).addClass("btn btn-link btn-xs")
									.attr("href", "/dico/" + petition['id'] + "/petition/?backIssueID={{issue.id}}")
									.append(newSpan);
						$(newSpan).addClass("label label-info")
								  .append("Support");
						td = document.createElement("td");
						$(li).append(td);
						newButton = document.createElement("a");
					} else {
						td = document.createElement("td");
						$(li).append(td);
						$(newButton).append("Vote Now");
					}

					<!-- Add a button to show the petition -->
					newSpan = document.createElement("span");
					$(td).addClass("align-right-column")
						 .append(newButton);
					$(newButton).addClass("btn btn-link btn-xs")
					            .attr("href", "/dico/" + petition['id'] + "/petition/?backIssueID={{issue.id}}")
					            .append(newSpan);
					$(newSpan).addClass("glyphicon glyphicon-chevron-right");
				}
			}
			else
				bootstrap_alert.warning(json['error']);
		  });
		}
	</script>

	<div id='container' class="container-fluid">
		<nav class="navbar navbar-default navbar-fixed-top dico-navbar" role="navigation">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<ul class="nav navbar-nav navbar-header pull-left">
					<li>
					<a class="navbar-link" href="/dico/">
						<span class="glyphicon glyphicon-chevron-left"></span>Home
					</a>
					</li>
				</ul>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<ul class="nav navbar-nav navbar-header pull-right">
					{% if user.is_authenticated %}
					<li class="dropdown">
					  <a href="#" class="dropdown-toggle navbar-link" data-toggle="dropdown">{{ user.get_full_name }}<span class="caret"></span></a>
					  <ul class="dropdown-menu dropdown-menu-right" role="menu">
						<li><a id="id_accountSettingsLink">Account Settings</a></li>
						<li><a id="id_changePasswordLink">Change Password</a></li>
						<li class="divider"></li>
						<li><a href="/dico/editinterests/">Edit Interests</a></li>
						<li class="divider"></li>
						<li><a href="{% url 'signout' %}">Sign out</a></li>
					  </ul>
					</li>
					{% else %}
						<a class="navbar-text navbar-link dico-nav-edge-link" href="{% url 'signin' %}">Sign in</a>
					{% endif %}
				</ul>
			</div>
		</nav>

		<nav class="navbar navbar-default navbar-fixed-bottom dico-navbar" role="navigation">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="nav navbar-nav navbar-header pull-right">
					{% if user.is_authenticated %}
						<a class="navbar-text navbar-link dico-nav-edge-link" 
							href="/dico/createpetition?issue={{issue.id}}&backURL=/dico/{{issue.id}}/issue/">Create an Action</a>
					{% endif %}
				</div>
			</div>
		</nav>
		
	    <div id="myAlert"></div>

		<div class="row">
			<div class="col-xs-12">
				<h3 id='id_issue_title' issueID='{{issue.id}}'>{{issue.name}}</h3>
			</div>
			<div class="col-xs-12">
				<p>What actions should Congress take on this issue?</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<table class="table table-condensed table-striped">
					<thead>
						<tr>
							<th>
								<label for="id_issue_petitions" class="control-label">Actions</label>
							</th>
							<th>Your vote</th>
							<th></th>
						</tr>
					</thead>
					<tbody id='id_issue_petitions'></tbody>
				</table>
			</div>
		</div>

	</div> <!-- container -->
</body>