<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>I Do Declare</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "dico/css/petition.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

	<!-- Styles for this web page -->
	<style>

	</style>


  </head>
  <body>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

	<!-- Scripts for this web page -->
	<script type="text/JavaScript">
	
		var deferredObject;

		function htmlDecode(input){
		  var e = document.createElement('div');
		  e.innerHTML = input;
		  return e.childNodes[0].nodeValue;
		}
		
		function htmlEncode(input){
			str = $('<div>').text(input).html();
		    return String(str).replace(/ /g, '&nbsp;');
		}
		
		// Display all of the interests in the system.
		var storedcsrftoken = "{{ csrf_token }}";
		var elementToDelete = null;

		$(document).ready (function(e) {
			<!-- Block of code for an alert area at the top of the window -->
			$(".close").click(function(){
				$("#myAlert").alert();
			});
			
			bootstrap_alert = function() {}
			bootstrap_alert.warning = function(message) {
            	$('#myAlert').html('<div class="alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><span>'+message+'</span></div>')
        	}
        	closealert = function() { 
        		$('#myAlert').html('');
        	}
			
			$("#id_confirmDeleteButton").click(function() {
				remove_argument(elementToDelete, $("#id_deleteDialog").attr("argumentId"));
			});

			$("#id_confirmDeleteActionButton").click(function() {
				remove_petition();
			});
			
			$("#id_deleteActionButton").click(function() {
				$("#id_deleteActionDialog").modal('show');
			});

			// Display the issues associated with the current petition.
			show_petition_issues();

			// Display the arguments of the current petition.
			show_petition_arguments();
			show_petition_votes(true);
			
			// After showing the petition votes, set the change methods of the radio buttons
			// for the current user's vote.
			$("#supportRadio").change(function() {
				cast_vote(1);
			});
			
			$("#opposeRadio").change(function() {
				cast_vote(0);
			});
			
			$("#noOpinionRadio").change(function() {
				vote_no_opinion();
			});
			
		});

		function show_petition_issues() {
		  $.post("/dico/getpetitionissues/", { csrfmiddlewaretoken: storedcsrftoken, "petition" : "{{petition.id}}" }, function(json){
		  	if (json['success']) {
				issues = json['issues'];
			
				$("#id_petition_issues").empty();
			
				for (i = 0; i < issues.length; ++i) {
					issue = issues[i];
					li = document.createElement("div");
					$(li).addClass("row");
					$("#id_petition_issues").append(li);
					newButton = document.createElement("a");
					newDiv = document.createElement("div");
					$(li).append(newDiv);
					$(newDiv).addClass("col-xs-9")
							 .append(newButton);
					$(newButton).append(htmlEncode(issue['name']));
					$(newButton).addClass("btn-xs text-muted");
					$(newButton).attr("href", "/dico/" + issue['id'] + "/issue/");

					<!-- Add a button to delete the issue from the petition -->
					newButton = document.createElement("button");
					$(newButton).addClass("btn btn-link btn-xs col-xs-3 pull-right");
					$(li).append(newButton);
					if (issue['isEditable']) {
						newSpan = document.createElement("span");
						$(newButton).append(newSpan);
						$(newButton).attr("issueID", issue['id']);
						$(newButton).click(function() {
							closealert();
							remove_issue($(this).parent(), $(this).attr("issueID"));
						});
						$(newSpan).addClass("glyphicon glyphicon-remove");
					}
				}
			}
			else
				bootstrap_alert.warning(json['error']);
		  });
		}
		
		function add_issue() {
			window.location = "/dico/{{petition.id}}/addpetitionissue/?backIssueID={{backIssueID}}";
		}
		
		function remove_issue(li, issue_id) {
		  $.post("/dico/deletepetitionissue/", { csrfmiddlewaretoken: storedcsrftoken, "petition_id" : "{{petition.id}}", "issue_id" : issue_id }, function(json){
		  	if (json['success']) {
		  		$(li).remove();
			}
			else
				bootstrap_alert.warning(json['error']);
		    });
		}
		
		function show_petition_arguments() {
		  $.post("/dico/getpetitionarguments/", { csrfmiddlewaretoken: storedcsrftoken, "petition" : "{{petition.id}}" }, function(json){
		  	if (json['success']) {
				supportingArguments = json['supportingArguments'];
				opposingArguments = json['opposingArguments'];
			
				$("#id_supporting_arguments").empty();
				if (supportingArguments.length == 0) {
					append_zero_arguments($("#id_supporting_arguments"));
				} else {
					for (i = 0; i < supportingArguments.length; ++i) {
						append_argument(supportingArguments[i], $("#id_supporting_arguments"));
					}
				}
				$("#id_opposing_arguments").empty();
				if (opposingArguments.length == 0) {
					append_zero_arguments($("#id_opposing_arguments"));
				} else {
					for (i = 0; i < opposingArguments.length; ++i) {
						append_argument(opposingArguments[i], $("#id_opposing_arguments"));
					}
				}
			}
			else
				bootstrap_alert.warning(json['error']);
		  });
		}
		
		function append_zero_arguments(containerObj) {
			li = document.createElement("tr");
			containerObj.append(li);
			textdiv = document.createElement("td");
			$(li).append(textdiv);
			$(textdiv).html("None");
			$(li).append(document.createElement("td"));
			$(li).append(document.createElement("td"));
		}
		
		ratingData = [ {'text' : 'Central', 'value' : 5},
					   {'text' : 'Peripheral', 'value' : 4},
					   {'text' : 'Irrelevent', 'value' : 3},
					   {'text' : 'Opinion', 'value' : 2},
					   {'text' : 'Misleading', 'value' : 1},
					   {'text' : 'False', 'value' : 0},
					  ];
					  
		function append_argument(arg, containerObj) {
			li = document.createElement("tr");
			newParagraph = document.createElement("td");
			containerObj.append(li);
			$(li).append(newParagraph);

			$(newParagraph).append(arg['description']);
			
			ratingCell = document.createElement("td");
			$(li).append(ratingCell);
			ratingGroupDiv = document.createElement("div");
			$(ratingCell).append(ratingGroupDiv);
			$(ratingGroupDiv).addClass("btn-group");
			set_rating_button(ratingGroupDiv, arg['rating_vote'], arg['id']);
							
			newCell = document.createElement("td");
			$(li).append(newCell);
			if (arg['isEditable']) {
				newButton = document.createElement("button");
				newSpan = document.createElement("span");
				$(newCell).append(newButton);
				$(newButton).append(newSpan);
				$(newButton).addClass("btn btn-link btn-xs");
				$(newButton).attr("argumentId", arg['id']);
				$(newButton).click(function() {
					closealert();
					$("#id_deleteDialog").attr("argumentId", $(this).attr("argumentId"));
					elementToDelete = $(this).parent().parent();
					$("#id_deleteDialog").modal('show');
				});
				$(newSpan).addClass("glyphicon glyphicon-remove");
			}
		}
		
		function set_rating_button(ratingGroupDiv, ratingVote, argumentID) {
			$(ratingGroupDiv).empty();
			var ratingButton = document.createElement("button");
			ratingCaret = document.createElement("span");
			ratingMenu = document.createElement("ul");
			$(ratingGroupDiv).append(ratingButton)
							 .append(ratingMenu);
							 
			if (ratingVote === null)
				ratingText = '-';
			else
				ratingText = ratingData[ratingData.length - 1 - ratingVote].text;
				
			$(ratingButton).prop("type", "button")
						   .addClass("btn btn-xs btn-link block-display dropdown-toggle")
						   .attr("data-toggle", "dropdown")
						   .html(ratingText + ' ')
						   .append(ratingCaret);
			$(ratingCaret).addClass("caret");
			$(ratingMenu).addClass("dropdown-menu")
						 .attr("role", "menu");
			
			for (var i = 0; i < ratingData.length; ++i) {
				ratingItem = document.createElement("li");
				ratingItemButton = document.createElement("button");
				ratingItemSpan = document.createElement("span");
				$(ratingMenu).append(ratingItem);
				$(ratingItem).append(ratingItemButton);
				$(ratingItemButton).append(ratingItemSpan)
								   .append(ratingData[i].text);
							 
				$(ratingItemSpan).addClass("btn btn-xs btn-link glyphicon glyphicon-ok");
				if (ratingVote != ratingData[i].value)
					$(ratingItemSpan).addClass("invisible");
					
				$(ratingItemButton).val(ratingData[i].value)
								   .addClass("btn btn-xs btn-link")
								   .attr("argumentId", argumentID)
								   .click(function() { 
								     theDiv = $(this).parents(".btn-group")[0];
								     rate_argument(theDiv, $(this).attr("argumentId"), $(this).val());
								   	 });
			}

			if (ratingVote !== null) {
				ratingItem = document.createElement("li");
				$(ratingMenu).append(ratingItem);
				$(ratingItem).addClass("divider");
				ratingItem = document.createElement("li");
				ratingItemButton = document.createElement("button");
				$(ratingMenu).append(ratingItem);
				$(ratingItem).append(ratingItemButton);
				$(ratingItemButton).text("Remove this rating")
								   .val(-1)
								   .addClass("btn btn-xs btn-link")
								   .attr("argumentId", argumentID)
								   .click(function() { 
								     theDiv = $(this).parents(".btn-group")[0];
								     rate_argument(theDiv, $(this).attr("argumentId"), $(this).val());
								   	 });
			}
		}
		
		function remove_argument(li, argument_id) {
		  $.post("/dico/deleteargument/", { csrfmiddlewaretoken: storedcsrftoken, "argument" : argument_id }, function(json){
		  	if (json['success']) {
		  		$(li).remove();
		  		if ($($("#id_supporting_arguments").children()[0]).children().length == 0)
		  			append_zero_arguments($("#id_supporting_arguments"));

		  		if ($($("#id_opposing_arguments").children()[0]).children().length == 0)
		  			append_zero_arguments($("#id_opposing_arguments"));

			}
			else
				bootstrap_alert.warning(json['error']);
		    });
		}
		
		function add_supporting_argument() {
			window.location = "/dico/{{petition.id}}/addsupportingargument/?backIssueID={{backIssueID}}";
		}
		
		function add_opposing_argument() {
			window.location = "/dico/{{petition.id}}/addopposingargument/?backIssueID={{backIssueID}}";
		}
		
		function cast_vote(vote) {
			deferredObject = $.post("/dico/newpetitionvote/", { csrfmiddlewaretoken: storedcsrftoken, 
														  "petition" : "{{petition.id}}",
														  "vote" : vote} 
				)
				.done(function(json, textStatus, jqXHR)
				{
					if (json['success']) {
						show_petition_votes(false);
					}
					else {
						bootstrap_alert.warning(json['error']);
					}
				})
				.fail(function(jqXHR, textStatus, errorThrown)
				{
		    		bootstrap_alert.warning(jqXHR.status + "; " + jqXHR.statusText);
					console.log( "error: " + textStatus + "; " + errorThrown + ";");
					console.log( jqXHR.status + "; " + jqXHR.statusText);
				});
		}
		
		function cast_support_vote(e, inputObj) {
			cast_vote(inputObj.value);
			e.stopPropagation();
		}
		
		function cast_oppose_vote(e, inputObj) {
			cast_vote(inputObj.value);
			e.stopPropagation();
		}
		
		function vote_no_opinion() {
			deferredObject = $.post("/dico/deletepetitionvote/", { csrfmiddlewaretoken: storedcsrftoken, 
														  "petition" : "{{petition.id}}"} 
				)
				.done(function(json, textStatus, jqXHR)
				{
					if (json['success']) {
						show_petition_votes(false);
					}
					else {
						bootstrap_alert.warning(json['error']);
					}
				})
				.fail(function(jqXHR, textStatus, errorThrown)
				{
		    		bootstrap_alert.warning(jqXHR.status + "; " + jqXHR.statusText);
					console.log( "error: " + textStatus + "; " + errorThrown + ";");
					console.log( jqXHR.status + "; " + jqXHR.statusText);
				});
		}
		
		function show_petition_votes(init_user_vote) {
			deferredObject = $.post("/dico/getpetitionvotes/", { csrfmiddlewaretoken: storedcsrftoken, 
														  "petition" : "{{petition.id}}"} 
				)
				.done(function(json, textStatus, jqXHR)
				{
					if (json['success']) {
						supportVotes = 0;
						opposeVotes = 0;
						for (i=0; i < json['votes'].length; ++i) {
							vc = json['votes'][i];
							if (vc.vote == 0)
								opposeVotes = vc.count;
							else if (vc.vote == 1)
								supportVotes = vc.count;
						}
						if (supportVotes == 1)
							supportString = "1 person supports this";
						else
							supportString = "" + supportVotes + " people support this";
						if (opposeVotes == 1)
							opposeString = "1 person opposes this";
						else
							opposeString = "" + opposeVotes + " people oppose this";
						$("#id_total_votes").html("<span class='text-muted'><span class='glyphicon glyphicon-thumbs-up'></span> " + supportString + "<br><span class='glyphicon glyphicon-thumbs-down'></span>&nbsp;" + opposeString + "</span>");
						if ('userVote' in json) {
							if (init_user_vote) {
								if (json['userVote'] == 1) {
									$("#supportRadio").prop('checked', true);
									$("#supportButton").button('toggle');
								}
								else if (json['userVote'] == 0) {
									$('#opposeRadio').attr('checked', true);
									$("#opposeButton").button('toggle');
								}
							}
						}
						else
						{
							if (init_user_vote) {
								$('#noOpinionRadio').attr('checked', true);
								$('#noOpinionButton').button('toggle');
							}
						}
							
					}
					else {
						bootstrap_alert.warning(json['error']);
					}
				})
				.fail(function(jqXHR, textStatus, errorThrown)
				{
		    		bootstrap_alert.warning(jqXHR.status + "; " + jqXHR.statusText);
					console.log( "error: " + textStatus + "; " + errorThrown + ";");
					console.log( jqXHR.status + "; " + jqXHR.statusText);
				});
		}
		
		function rate_argument(li, argument_id, rating) {
			var deferredObject;
			if (rating == -1)
				deferredObject = $.post("/dico/unrateargument/", { csrfmiddlewaretoken: storedcsrftoken, 
														  "argument" : argument_id});
			else
				deferredObject = $.post("/dico/rateargument/", { csrfmiddlewaretoken: storedcsrftoken, 
														  "argument" : argument_id,
														  "rating" : rating});

			deferredObject.done(function(json, textStatus, jqXHR)
				{
					if (json['success']) {
						set_rating_button(li, rating, argument_id);
					}
					else {
						bootstrap_alert.warning(json['error']);
					}
				})
				.fail(function(jqXHR, textStatus, errorThrown)
				{
					bootstrap_alert.warning(jqXHR.status + "; " + jqXHR.statusText);
					console.log( "error: " + textStatus + "; " + errorThrown + ";");
					console.log( jqXHR.status + "; " + jqXHR.statusText);
				});
		}
		
		function remove_petition() {
		  $.post("/dico/deletepetition/", { csrfmiddlewaretoken: storedcsrftoken, "petition_id" : {{ petition.id }} }, function(json){
		  	if (json['success']) {
		  		window.location.href = "{{ backURL }}";
			}
			else
				bootstrap_alert.warning(json['error']);
		    });
		}
		
	</script>

	<div id='container' class="container">
		<nav class="navbar navbar-default" role="navigation">
		  <div class="container-fluid">
			<div class="nav navbar-nav navbar-header pull-left">
			  <a class="navbar-text" href="{{ backURL }}">
			  	<span class="glyphicon glyphicon-chevron-left"></span>{{ backName }}</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
		  </div><!-- /.container-fluid -->
		</nav>

	    <div id="myAlert"></div>
		<div class="lightbackground row">
			<div class="col-xs-12 col-sm-8">
				<h3 id='id_petition_title' class="toplabel">An Action for Congress:</h3>
				<p class="lead">{{petition.description}}</p>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="issue-column">
					<div class="row">
						<div class="col-xs-9">
							<label for="id_petition_issues" class="toplabel">Related Issues</label>
						</div>
						<button class="btn btn-link btn-xs col-xs-3 pull-right"
								onClick="add_issue()"}>
								Add
						</button>
					</div>
					<div id='id_petition_issues'> </div>
				</div>
			</div>
		</div>
		<div class="lightbackground row">
			<div class="col-xs-12 col-sm-8 your-vote-column">
				<label class="control-label">Your vote</label>
				<div class="btn-group" data-toggle="buttons">
					<label id="supportButton" class="btn btn-default">
					  <input type="radio" name="voteOptions" id="supportRadio" value=1 />
					  <span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;Support
					</label>
					<label id="opposeButton" class="btn btn-default">
					  <input type="radio" name="voteOptions" id="opposeRadio" value=0 />
					  <span class="glyphicon glyphicon-thumbs-down"></span>&nbsp;Oppose
					</label>			
					<label id="noOpinionButton" class="btn btn-default active">
					  <input type="radio" name="voteOptions" id="noOpinionRadio" value=-1 />No Opinion
					</label>
				</div>			
			</div>
			<div id="id_total_votes" class="col-xs-12 col-sm-4 total-vote-column">
			</div>
		</div>
		<div class="lightbackground row">
			<div class="col-xs-12">
				<hr style="background:#AAA; border:0; height:2px" />
			</div>
		</div>
		<div class="lightbackground row">
			<div class="col-xs-12 col-md-6">
				<table class="table table-bordered argument-container">
					<thead>
						<th><h5 class="panel-title">Supporting Arguments</h5>
						</th>
						<th>Your Rating</th>
						<th></th>
					</thead>
					<tbody id='id_supporting_arguments'>
					</tbody>
					<tbody>
					<tr>
						<td>
							<button class="btn btn-link btn-xs" onClick="add_supporting_argument()"}>
									Add Supporting Argument
							</button>
						</td>
						<td></td>
						<td></td>
					</tr>
					</tbody>
				</table>
			</div>
			<div class="col-xs-12 col-md-6">
				<table class="table table-bordered argument-container">
					<thead>
						<th><h5 class="panel-title">Opposing Arguments</h5>
						</th>
						<th>Your Rating</th>
						<th></th>
					</thead>
					<tbody id='id_opposing_arguments'>
					</tbody>
					<tbody>
					<tr>
						<td>
							<button class="btn btn-link btn-xs" onClick="add_opposing_argument()"}>
									Add Opposing Argument
							</button>
						</td>
						<td></td>
						<td></td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
		{% if user.id == petition.constituent.user.id or user.is_superuser %}
		<div class="lightbackground row">
			<div class="col-xs-12">
				<hr class="simple-separator no-top-padding" />
			</div>
		</div>
		<div class="lightbackground row bottom-padding">
			<div class="col-xs-12 col-md-6 col-md-offset-6">
				<button id="id_deleteActionButton" class="btn btn-default btn-block">
					<span class="text-danger">Delete Action</span>
				</button>
			</div>
		</div>
		{% endif %}
	</div> <!-- container -->

<!-- Modal HTML -->
	<div id="id_deleteDialog" class="modal fade">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-body">
					<button id="id_confirmDeleteButton" type="button" data-dismiss="modal" class="btn btn-danger btn-block">Delete Argument</button>
					<button type="button" class="btn btn-default btn-block" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Modal HTML -->
	<div id="id_deleteActionDialog" class="modal fade">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-body">
					<button id="id_confirmDeleteActionButton" type="button" data-dismiss="modal" class="btn btn-danger btn-block">Delete Action</button>
					<button type="button" class="btn btn-default btn-block" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</body>